*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    background: transparent;
}
.container{
    padding: 0 30px;
    max-width: 1084px;
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}

.search{
    padding: 30px 0;
    &__field{
        height: 50px;
        padding: 0px 10px;
        border: 1px solid #666;
        flex: 1;
        transition: box-shadow .3s;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        &:focus{
            box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.5);
        }
    }
    &__button{
        height: 50px;
        width: 80px;
        background-image: url(../img/search.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 30px 30px;
        transition: box-shadow .3s;
        background-color: transparent;
        border: 1px solid #666;
        border-left: none;
        cursor: pointer;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &:hover{
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
        }
    }
    &__form{
        margin-bottom: 30px;
        flex-wrap: nowrap;
    }
    .search__more{
        width: 200px;
        height: 50px;
        border-radius: 10px;
        margin: 0 auto;
        border: 1px solid #666;
        cursor: pointer;
        display: block;
        transition: background-color .3s;
        &.hidden{
            display: none;
        }
        &:hover{
            background-color: #666;
            color: #fff;
        }
    }
}
.result{
    &__block{
        width: calc(100%/5 - 20px);
        height: 200px;
        margin-bottom: 25px;
        margin-right: 25px;
        &:nth-child(5n + 5){
            margin-right: 0;
        }
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.loader{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.1);
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;
    &.active{
        display: flex;
    }
}