@media screen and (max-width: 768px) {
  .result {
    &__block {
      width: calc(100% / 3 - 20px);
      margin-right: 30px !important;
      margin-bottom: 30px;
      &:nth-child(3n + 3) {
        margin-right: 0 !important;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .result {
    &__block {
      width: 100%;
      margin-right: 0 !important;
    }
  }
}